segs.entries {
    //font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1rem;
}

segs.disc {
    //font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}

segs {
    border-bottom: 10rem;
}

.foot {
    font-size: 13px;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

