<div class="inner-content">
  <h1 class="title">Sleep Tracker</h1>

  <a href="/overnight">
    <button class="overnight-button">Log Sleep</button>
  </a>

  <a href="/sleepiness">
    <button class="day-button">Log Sleepiness</button>
  </a>

    <!-- <a href="/overnight-log">
      <button class="log-button">LOG</button> 
    </a> -->
</div>

<ion-tab-bar class="tab-bar" slot="bottom">
  <a class="tab-button1" href="/home">
    <ion-tab-button >
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
  </a>
  <a class="tab-button2" href="/overnight-log">
    <ion-tab-button>
      <ion-icon name="cloudy"></ion-icon>
      Logs
    </ion-tab-button>
  </a>
</ion-tab-bar>